
BaseGameArchitecture/Library/
BaseGameArchitecture/Temp/
BaseGameArchitecture/.vsconfig
BaseGameArchitecture/Assembly-CSharp.csproj
BaseGameArchitecture/BaseGameArchitecture.sln
BaseGameArchitecture/Logs/
BaseGameArchitecture/UserSettings/
BaseGameArchitecture/obj/
*.suo
ggj2024/.vsconfig
ggj2024/ggj2024.sln
ggj2024/Library/
ggj2024/Logs/
ggj2024/obj/
ggj2024/Temp/
ggj2024/UserSettings/
ggj2024/Assembly-CSharp.csproj
ggj2024/BaseGameArchitecture.sln
